/****** GENERAL ******/

html {
  top: 0;
  height: 100%;

}

body {
 background: url(../img/contemporary_china_2.png);
  margin: 0;
  top: 0;
  height: 100%;

}
.header {
  height: 300px;
  margin: 0 5% 0% 5%;
  background-color: black;
  padding: 20px 0 0 0;
}

.logo{
  content: url(../img/Coffee-logo.jpg);
  text-align: center;
  margin: auto;
  width: 150px;
  max-height: 150px;
  border-radius: 50%;
  border: 2px solid white;

}

.icon-facebook {
  content: url(../img/facebook.png);
  padding: 0 0 5px 5px;
  display: block;

}
.icon-instagram {
  content: url(../img/instagram.png);
  padding: 0 0 0 5px;
  display: block;

}

nav {
  text-align: center;
  margin-bottom: 0;
  font-family: 'Bad Script', cursive;
  padding: 5%;
}
ul {
  list-style-type: none;

}
li {
  display: inline;
  padding: 5px;

}
li a {
  text-decoration: none;
  color: white;
  font-family: 'Bad Script', cursive;
  font-size: 1.2em;

}
.wrapper {
  margin:0% 5%;
  min-height: 100%;
}
.main-image {
  content: url(../img/coffee-2.jpg);
  max-height: 600px;
  width: 100%;
  margin: 0;

}
p {
  padding: 0 5% 5% 5%;
  font-family: 'Economica', sans-serif;
  font-size: 1.5em;

 }
a {
  font-family: 'Economica', sans-serif;


}
h2 {
  margin: 5%;
  padding: 0 5% 0 5% ;
  font-family: 'Economica', sans-serif;
  font-size: 2.5em;
  color: #d0a888;

}
.content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.coffee-image-1 {
  content: url(../img/coffee-4.jpg);
  max-width: 80%;
  max-height: 300px;
  margin: auto;
  padding: 5% 0 5% 0;

}
.coffee-image-2 {
  content: url(../img/coffee-5.jpeg);
  max-width: 80%;
  max-height: 300px;
  margin: auto;
  padding: 5% 0 5% 0;

}

/****** CONTACT PAGE ******/
nav a{
  font-family: 'Economica', sans-serif;
}
.contact-content-1 {
  margin: auto;
  text-align: center;
  padding: 15px;
}
.contact-content-1 p {
  font-size: 1.5em;
}
.contact-content-2 ul {
  padding: 0;
}
.contact-content-2 {
  margin: auto;
}
.contact-h2 {
  text-align: center;
}
.content-li {
   display: block;
   text-align: center;
   font-size: 1.5em;
}
.content-li a {
  color: black;
  font-family: 'Economica', sans-serif;
}

/****** ABOUT PAGE ******/

 .image-barista {
    content: url(../img/barista.jpg);
    max-width: 400px;
    max-height: 400px;
    margin: auto;
  padding-bottom: 5%;

}

/****** OPENING HOURS ******/

.wrapper-opening-hours li {
  display: block;
  text-align: center;
  font-family: 'Economica', sans-serif;
  font-size: 1.5em;


}
.wrapper-opening-hours h2 {
  text-align: center;
  margin-top: 25px;
}
.wrapper-opening-hours ul {
  margin: 4% auto;


}

.opening-hrs-content {
  margin: 10% auto ;

}

/****** FOOTER ******/

 footer {
  height: 75px;
  border-top: 2px solid black;
  margin: 5% 10% 0 10%;
  text-align: center;
  padding-top: 40px;

}
.copy-right a {
  font-family: 'Bad Script', cursive;

}
/****** CLEARFIX ******/

.group:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 1120px) {

  /****** GENERAL RESPONSIVE ******/

  .header {
   height: 300px;

  }

/****** HOME PAGE RESPONSIVE******/

  .coffee-image-1 {
    width: 500px;
    height: 300px;
    padding: 0 0 0 0;
    margin: 10% auto ;

  }
  .coffee-image-2 {
    width: 500px;
    height: 300px;
    padding: 0 0 0 0;
    margin: 10% auto;

  }

  /****** CONTACT PAGE RESPONSIVE ******/
.contact-wrapper {
   display: flex;
   flex-direction: row;
}

  .contact-content-1 {

   margin: 10% auto;

}

  .contact-content-1 a {
    padding: 5% 0;


  }
  .contact-content-1 h2 {
    font-size: 2em;


  }
  .contact-content-2 a {
    padding: 5% 0 0 0;


  }
  .contact-content-2 h2 {
    font-size: 2em;
  }
  .contact-content-2 ul {
    margin-top: 0;
    padding: 0;

  }
 .contact-content-2 {
   margin: 10% auto;

}
  /****** ABOUT PAGE RESPONSIVE******/

  .about-content {
    margin: auto;
  margin: 5% 0 0 0;
  }
  .about-info  {
    float: right;
    max-width: 40%;
    padding: 2% 5% 0 0;

  }
  .image-barista {
    float: left;
    width: 500px;
    height: 500px;
    padding: 5% 5% 5% 5%;


  }

  /******OPENING HOURS RESPONSIVE******/

  .opening-hrs-content {
    text-align: center;
    marign-top: 10% ;

  }

  .wrapper-opening-hours {
    min-height: 100%;
    margin-bottom: -75px;

  }

  .wrapper-opening-hours li {
    display: block;
    text-align: center;
    font-family: 'Economica', sans-serif;
    font-size: 2em;
  }
  .wrapper-opening-hours h2 {
    text-align: center;
    margin-top: 25px;
    padding: 0;
  }
  .wrapper-opening-hours ul {
    margin-top: 4%;


  }

  .opening-hrs-content {
    margin: 10% 0 10% 0;
    padding: 0;

  }
}
